services:
  mysql:
    image: mysql:8
    env_file:
      .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "mysql://trello_user:trello_pass@mysql:3306/trello_clone"
      NODE_ENV: production
    depends_on:
      - mysql

volumes:
  mysql_data:
